
body{
font-family:Arial;
background:#f4f4f4;
margin:0;
padding:20px;
}

.title{
text-align:center;
margin-bottom:20px;
}

.card{
background:white;
padding:16px;
border-radius:12px;
margin-bottom:20px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.row{
display:flex;
gap:10px;
flex-wrap:wrap;
margin-top:10px;
}

input,select{
padding:10px;
border-radius:8px;
border:1px solid #ccc;
flex:1;
}

button{
background:#3f5fa3;
color:white;
border:none;
padding:10px 14px;
border-radius:8px;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
margin-top:10px;
}

th,td{
border:1px solid #ddd;
padding:8px;
text-align:center;
}

th{
background:#eee;
}

.delete{
cursor:pointer;
color:red;
font-weight:bold;
}
